@font-face{
    src: url(../fonts/leather/leather.ttf);
    font-family: leather;
}
@font-face{
    src: url(../fonts/CF_Leather/CF_Leather.ttf);
    font-family: CF_Leather;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.658),rgba(0,0,0,0.652)), url(../img/53026367_2238847483099040_6795154160858693632_o.jpg);
    background-size: cover;
}
html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}
.navbar-brand img{
    width: 5rem;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.logo{
    width: 4rem;
}
.button{
    text-align: center;
}
.img{
    width: 100%;
    max-width: 100vh;
    margin: auto;
    padding: 0 1.5rem;
}
.product{
    width: 20rem;
    height: 20rem;
}
